body{
  background-color: #f4f6ff;
  margin:0;
  text-align: center;
  font-family: 'Poppins';
}


h3{
  color: #4f8a8b;
  font-size: 2rem;
}
hr{
  border-style: dotted none none none;
  border-width: 1rem;
  border-color: lightgray;
  width: 10%;
  margin: 50px auto;
}


/***** Introduction Section ********/
.intro{
  padding: 5% 7%;
  position: relative;
  background-color: #3ca59d;
  margin:0;
}

.intro h1{
  font-size: 6rem;
  margin: 50px auto 0;
  color: #ffcb74;
  font-family: 'Parisienne', cursive;
}

.intro p{
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffcb74;
}









/**** skills section ****/
.skills h2{
  color: #4f8a8b;
  font-size: 2.5rem;
}

.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2rem;
  padding-bottom: 30px;
}





/**** Contact me section ****/
.contact-me{
  padding: 90px;
}

.contact-me p{
  padding-bottom: 40px;
}

.btn{
  text-decoration: none;
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 10px;
  height: 50px;
}



/***** Footer section ********/
.bottom-container{
  background-color: #ffcb74;
  padding: 50px;
}

.bottom-container a{
  padding-right: 50px;
  outline: none;
  text-decoration: none;
}

.bottom-container p{
  color: white;
}





